name: Build and Deploy Astro Static Site

on:
  push:
    branches: [ main ]  # Hoặc branch bạn dùng cho production

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Astro site
        run: npm run build

      - name: Deploy with rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete  # archive, verbose, compress, recursive, delete old files
          path: "dist/"
          remote_path: "/var/www/chomusuke.site/html"
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: ${{ secrets.SSH_USERNAME }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          remote_port: ${{ secrets.SSH_PORT }}
